<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <footer class="main-footer">
      <div class="footer-license-wrapper"><a class="license" href=
                  "https://github.com/evandejesus/evandejes.us/blob/master/LICENSE"
                                             title="View the license for this site and it's content"><small>All
                                               content is copyright © {{ site.start-year }} - {{ site.time | date:
                                               '%Y' }} Evan de Jesus, any trademarks are property of their
                                               respective owners</small></a></div>
      <div class="made-by-wrapper"><a class="made-by" href=
                  "https://github.com/evandejesus/evandejes.us">Made by
                  Evan</a></div>
    </footer>
  </body>
</html>
