.headroom {
    will-change: transform;
    transition: transform 200ms linear;

    &.main-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        font-size: 3rem;
        background-color: $background-color;
    }
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}