$backgroundColor: #222222;
$backgroundColor2: #434242;
$bodyColor: #F3EFE0;
$highlightColor: #22A39F;
$bodyFont: "IBMPlexSansRegular";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.main-content {
  padding: 5em 0 2em 0;
}

.highlight {
  color: $highlightColor;
}

.title {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
}