body {
  background: $background-color;
  color: $body-color;
  font-family: $body-font;
}

.highlight {
  color: $highlight-color;
}


.main-content {
  padding: 5em 0 2em 0;
}

a {
  color: $body-color;
}