body {
  background: $background-color;
  color: $body-color;
  font-family: $body-font;
}

.main-content {
  padding: 5em 0 2em 0;
}

.highlight {
  color: $highlight-color;
}

.title {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
}