$background-color: #222222;
$background-color-alt: #434242;
$body-color: #FFF;
$highlight-color: #FF6188;
$body-font: "IBMPlexSansRegular";
$paragraph-normal-font-size: rem(16px);
$paragraph-large-font-size: rem(22px);
$page-margin: rem(32px);
$gutter: rem(24px);
$gutter-row: rem(24px);
