.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Mori";
    margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

}

.headline {
  text-align: center;
  color: rgb(14, 16, 15);
  font-size: clamp(2rem, 6rem, 4.5vw);
  will-change: transform;
  font-kerning: none;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 0;
}

.headline * {
  will-change: transform;
}

.char {
  outline: 1px dotted var(--ink);
}

button {
  border-color: var(--ink);
  background-color: transparent;
  color: var(--ink);
  margin-top: 1.5rem;
}
