.TerminalText-container {
  --black: #3f3844;
}

.header.one {
  font-size: 3em;
  font-family: "CircularStd";
}

.header.two {
  font-size: 1.75em;
}

a.resume {
  margin: 25px 0;
  position: relative;
  display: inline-block;
  text-decoration: none;
  border: 2px solid var(--black);
  color: var(--black);
  font-weight: normal;
  background: #fff;
  font-size: 1.4em;
  padding: 1rem 1.5rem;
}

a.resume:hover {
  color: #fff;
  background: var(--black);
}
