:root {
  --black: #3f3844;
}

.red {
  background: red !important;
}

.App-navigation-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--black);
}

.App-navigation {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 1.4em;
  font-family: "CircularStd";
}

.App-title {
  flex: 1;
}

.App-links-wrapper {
  flex: 2;
}

.App-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-left: auto;
}

.App-links a,
.App-title > div {
  padding: 1.5rem 1.2rem;
  text-decoration: none;
  color: var(--black);
}

@media screen and (max-width: 600px) {
  .App-links-wrapper {
    display: none;
  }
}
