:root {
  --black: #3f3844;
}

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.App-navigation-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  background: #fff;
  border-bottom: 1px solid var(--black);
}

.App-navigation {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 1.4em;
  font-family: "CircularStd";
}

.App-title {
  flex: 1;
  margin-left: 1em;
}

.App-links-wrapper {
  flex: 2;
}

@media screen and (max-width: 600px) {
  .App-links-wrapper {
    display: none;
  }
}

.App-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-left: auto;
}

.App-links a,
.App-title > div {
  padding: 1.5rem 1.2rem;
  text-decoration: none;
  color: var(--black);
}

.App-hamburger {
  padding: 1.5rem 1.2rem;
  z-index: 2;
}
.App-hamburger img {
  width: 1.5em;
}

@media screen and (min-width: 600px) {
  .App-hamburger {
    display: none;
  }
}

.App-hamburger-menu {
  position: absolute;
  top: 33%;
  left: 0;
  z-index: 3;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-hamburger-background {
  position: absolute;
  z-index: 1;
  pointer-events: none;

  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #000;
  opacity: 0.5;
}

.App-hamburger-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5em;
  padding: 0.3em 0;
  flex: 1;
}

.App-landing-page {
  position: relative;
  top: 60px;
  height: 85vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-landing-page-content {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
